# Environnement virtuel (Crucial pour ne pas envoyer 5000 fichiers sur Git)
venv/
.venv/
env/

# Python (Fichiers compilés inutiles)
__pycache__/
*.py[cod]

# Base de données locale (Pour ne pas partager tes comptes de test)
accounts.db

# Secrets (Ta future clé API IA, par exemple)
.env

# Configuration Editeur
.vscode/
.idea/

# Logs
*.log